{{ define "main" }}

<div class="mx-auto flex max-w-screen-xl">
  {{ partial "components/sidebar.html" (dict "context" . "no_sidebar" true) }}
  {{ partial "components/toc.html" . }}
  <article class="w-full break-words flex min-h-[calc(100vh-var(--navbar-height))] min-w-0 justify-center pb-8 pr-[calc(env(safe-area-inset-right)-1.5rem)]">
    <main class="w-full px-6 pt-4 md:px-0">

      {{ if .Params.show_breadcrumb }}
      <div class="mb-4">
        {{ partial "components/breadcrumb.html" . }}
      </div>
      {{ end }}

      {{ if .Params.project_type }}
      <div class="text-primary-700 dark:text-gray-300 text-lg md:text-xl font-semibold">
        <span>{{ .Params.project_type }}</span>
      </div>
      {{end}}
      <h1 class="mt-2 text-4xl font-bold tracking-tight text-slate-900 dark:text-slate-100">
        {{- .Title -}}
      </h1>

      {{/*  Project Date, Supervisor, Tools  */}}
      <div class="mt-4 mb-12">

        {{- if .Params.date_start -}}
        <div class="text-gray-700 dark:text-gray-300 text-md md:text-lg">
          <span>
            <span class="font-semibold">Timeline: </span>
            {{ (time .Params.date_start) | time.Format (site.Params.date_format | default ":date_long") }} –
            {{ if .Params.date_end }}
              {{ (time .Params.date_end) | time.Format (site.Params.date_format | default ":date_long") }}
            {{ else }}
              {{ i18n "present" | default "Present" }}
            {{ end }}
          </span>
        </div>
        {{- end -}}

        {{ if .Params.supervisor }}
        <div class="mt-3 text-gray-700 dark:text-gray-300 text-md md:text-lg">
          <span class="font-semibold">Supervised by: </span> {{ .Params.supervisor }}
        </div>
        {{end}}

        {{ if .Params.tools }}
        {{- $items := .Params.tools -}}
        {{- $output := "" -}}
        {{- range $index, $item := $items -}}
          {{- if $index -}}
            {{- $output = printf "%s, " $output -}}
          {{- end -}}
          {{- $output = printf "%s{{< icon name=\"%s/%s\" >}}%s" $output $item.pack $item.icon $item.name -}}
        {{- end -}}
        <div class="mt-3 text-gray-700 dark:text-gray-300 text-md md:text-lg">
          <span class="font-semibold">Tools utilized: </span>{{ $output | safeHTML | markdownify }}
        </div>
      {{ end }}
      </div>


      {{/* Abstract */}}
      {{ if .Params.abstract }}
        <div class="text-md text-justify"><span class="font-bold"> ABSTRACT: </span>{{ .Params.abstract | markdownify }}</div>
      {{ end }}


      {{/*  Main Content  */}}
      <div class="mt-24 prose max-w-none prose-slate lg:prose-xl dark:prose-invert">
        {{ .Content }}
      </div>

    </main>
  </article>
</div>
{{ end }}