/* General Styles */
.navbar-brand {
    font-size: 1.5rem;
}

.navbar-brand img {
    margin-right: 1rem
}

#news {
    margin-bottom: 0;
}

.title {
    font-size: 4rem;
    margin-bottom: 5rem;
}

.hbb-section {
    padding-top: 4rem;
    padding-bottom: 0;
}

.prose :where(img):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: 0;
    margin-bottom: 0;
}


/* ===========================Styles for intro block======================== */


.avatar-wrapper{
    width: 250px;
    height: 250px;
}

#about-me {
    margin-top: 1rem;
}

.intro-btn {
    max-width: 225px;
    color: rgb(var(--color-primary-900));
    border: 2px solid rgb(var(--color-primary-900));
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.intro-btn:hover {
    color: white;
    background-color: rgb(var(--color-primary-900));
}

.contact-btn svg {
    margin-inline-start: -1.5rem;
}


@media screen and (max-width: 767px) {
    #about-me {
        margin-top: 0;
    }

    .bio-text {
        text-align: center;
    }

    .intro-desc {
        align-items: center;
    }
}


/* Styles for academics block */
.uni-logo {
    max-width: 150px;
}

.test-logo {
    max-width: 150px;
}

.academic-btn {
    text-align: center;
    max-width: 300px;
    color: rgb(var(--color-primary-900));
    border: 2px solid rgb(var(--color-primary-900));
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.academic-btn:hover {
    color: white;
    background-color: rgb(var(--color-primary-900));
}

.academic-btn svg {
    margin-inline-end: 0.375rem;
}

.academic {
    margin-bottom: 3rem;
}

.academic:last-child {
    margin-bottom: 0;
}

.academic-list {
    max-width: 75ch;
}

#section-academics {
    margin-bottom: -5rem;
}

a:hover {
    color: rgb(var(--color-primary-700))
}

.courses li, .scores li {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }

.courses ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-right: -5rem;
}

.courses li {
    flex: 0 0 50%; /* Each item takes up 50% of the width, creating two columns */
    box-sizing: border-box; /* Ensures padding and borders are included in the width */
  }

.scores ul {
    margin-top: 1.5rem;
    padding-left: 0;
}

.courses h2 {
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

@media screen and (max-width: 767px) {
    .courses ul {
        display: block;
        padding-left: 0;
        margin-right: 0;
    }

    .center-mbl {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

/* Research */
#research-projects .text-3xl{
    color: rgb(var(--color-primary-700));
    font-size: 2.25rem;
    line-height: 2.5rem;;
    font-weight: 300;
    margin-bottom: 1rem;
}