{{/* Custom Blox: Gallery */}}

{{/* Initialise */}}
{{ $page := .wcPage }}
{{ $block := .wcBlock }}
{{ $photos := $block.content.photos }}
{{ $width := 480 }}
{{ $height := 270 }}


{{ if $block.content.title }}
<div class="flex justify-center collection-title dark:text-white">
    {{ $block.content.title | emojify | $page.RenderString }}
</div>
{{ end }}


{{ with $photos }}

<!-- Gallery Section -->
<div class="grid grid-cols-2 md:grid-cols-3 gap-4 max-w-5xl mx-auto">
    {{ range $index, $item := $photos}}
    {{ $is_remote := strings.HasPrefix $item "http" }}
    {{- $img := "" -}}
    {{- if not $is_remote -}}
        {{- $img = ($page.Resources.ByType "image").GetMatch $item -}}
        {{- if not $img -}}
            {{- $img = resources.Get (path.Join "media" $item) -}}
        {{- end -}}
    {{- end -}}

    {{- if $img -}}
        {{- $img_lg := $img.Fit "1200x1200 webp" -}}
        {{- $img_md := $img_lg.Fit "760x760 webp" -}}{{/* Match `.docs-article-container` max-width */}}
        {{- $img_sm := $img_md.Fit "400x400 webp" -}}
        {{- $width := $width | default $img_md.Width -}}
        {{- $height := $height | default $img_md.Height -}}
        <div class="cursor-pointer" onclick="openModal(this)" data-image="{{- $img_lg.RelPermalink -}}">
            <img alt="" srcset="
                {{ $img_sm.RelPermalink }} 400w,
                {{ $img_md.RelPermalink }} 760w,
                {{ $img_lg.RelPermalink }} 1200w"
                src="{{ $img_sm.RelPermalink }}"
                width="{{ $width }}"
                height="{{ $height }}"
                loading="lazy"
                class="h-auto max-w-full rounded-lg" />
        </div>
    {{- else -}}
        <div class="cursor-pointer" onclick="openModal(this)" data-image="{{- $img_lg.RelPermalink -}}">
            <img src="{{ $item | safeURL }}" alt="" loading="lazy"
            {{- with $width }} width="{{.}}"{{end}} {{- with $height }} height="{{.}}"{{end}}
            class="h-auto max-w-full rounded-lg" />
        </div>
    {{- end -}}
{{ end}}
</div>

<!-- Slideshow Modal -->
    <div id="modal" class="modal relative justify-center item-center md:h-[calc(100vh-208px)]">
        <button onclick="closeModal()" class="absolute top-4 right-4 text-white text-2xl">&times;</button>
        <button onclick="prevImage()" class="absolute left-4 text-white text-2xl">&#10094;</button>
        <img id="modalImage" src="" alt="Image">
        <button onclick="nextImage()" class="absolute right-4 text-white text-2xl">&#10095;</button>
    </div>
{{ end }}